main {
    font-style: italic;
    font-size: 19px;
    padding-bottom: 20px;
}

h1 {
    font-style: normal;
}

h2 {
    font-style: normal;
    text-decoration: underline;
    color: rgb(83, 83, 83);
    margin-bottom: 20px;
}

.sub-p {
    margin-left: 20px;
    margin-bottom: 5px;
}

ul {
    font-style: italic;
    list-style: none;
    margin: 0;
}

ul p {
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    padding: 5px 0;
}

.delivery-type {
    list-style: decimal;    
}

.delivery-type li {
    font-weight: normal;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 20px;
}

p {
    margin: 0;
}

li b {
    font-size: 19px;
}