main {
    flex-direction: row;
    padding: 10px 0;
    margin-top: 20px;
}

.del-info {
    display: inline-block;
    min-width: 250px;
    background: #E3E3E3;
    height: 170px;
}

.del-info span {
    width: auto;
    display: inline-block;
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    background:#CCCCCC;
}

.del-info ul,
.del-info p {
    padding-left: 15px;
    margin: 5px;
    font-size: 13px;
    line-height: 15px;
}

.del-info ul {
    list-style: '- ';   
}

.item-body {
    flex-grow: 1;
    display: flex;
    margin-right: 25px;
    flex-direction: column;
}

.main-body {
    display: flex;
    justify-content: space-around;
}

.gallery {
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.gallery > img {
    max-width: 100%;
} 

.gallery-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-items img {
    height: 100px;
}

.active-img {
    padding: 5px;
    border: 2px solid #0A9400;
}

.main-body p {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.buy-info {
    width: 500px;
}

.order {
    background: #50B948;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order span {
    font-size: 32px;
    line-height: 35px;
}

.order input {
    padding: 10px 20px;
    background: #0A9400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.item-separator {
    margin-top: 20px;
    background: #50B948;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 21px;
}

.sub-p {
    margin-left: 20px;
    margin-bottom: 5px;
}

.description ul {
    list-style: none;
    padding: 0;
}

.description ul li {
    font-weight: bold;
    font-size: 19pxpx;
    margin-bottom: 20px;
}

.description li p {
    font-weight: normal;
}

.description p {
    text-indent: 15px;
    margin: 0;
}