* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 0;
}

header {
    background: #50B948;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 1300px;
    width: 90%;
    min-width: 1100px;
}

.header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.main-nav {
    justify-content: flex-end;
    margin: 20px 0;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.main-nav__item {
    flex-direction: row;
    display: inline-block;
    padding: 3px 20px;
    border-right: 1px solid;
}

.main-nav__items img {
    vertical-align: middle;
    height: 40px;
}

.main-nav__item a {
    color: black;
}

.main-header {
    justify-content: space-between;
    text-align: center;
}

.main-header > div {
    vertical-align: middle;
    margin: 0 15px;
}

.main-header__brand {
    color: #0e4f1f;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
}

.main-header__brand img {
    width: 500px;
}

.search{
    width: 55%;
    min-width: 300px;
}

.main-header__search {
    background: white;
    height: 50px;
    padding: 0 0 0 5px;
    border: 1px solid black;
    vertical-align: center;
    display: flex;
    justify-content: space-between;
}

#search-value {
    border: none;
    height: 100%;
    margin: 0;
    width: calc(90% - 100px);
    vertical-align: center;
}

#search-sbm {
    position: relative;
    text-align: center;
    top: 5%;
    right: 5px;
    height: 80%;
    width: 100px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #0A9400;
}

.basket {
    width: 130px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.basket img {
    width: 40px;
}

input:focus {
    outline:none;
}

.header-categories {
    background: #0A9400;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 0
}


.section-categories__items {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-categories__item {
    display: inline-block;
    flex: 1 1 auto;
    border-right: 1px solid black;
    padding: 12px 8px 12px 30px;
    transition: 200ms;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 200ms;
}

.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    left:0;
    text-align: left;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    z-index: 1;
    background: #ddd;
    color: #0A9400;
    transition: 200ms;
    float: right;

}


.dropdown-content a {
    color: white;
    color: #50B948;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-content a:hover {
    color: white;
    background: #50B948;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropbtn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: white;
    background: #0A9400;
    margin: 0;
    border: none;
    margin-right: 5px;
    transition: 200ms;
}

.dropdown:hover .dropbtn,
.dropdown:hover {
    background: white;
    color: #0A9400;
}

.dropdown:hover {
    border-radius: 10px 10px 0 0;
}


